${DOMAIN}:${HTTP_PORT} {
tls off
timeouts none
proxy ${WSPATH} localhost:${V2_PORT} {
websocket
header_upstream -Origin
}
redir 301 {
if {path} not ${WSPATH}
/ {scheme}://${FAILOVER}{uri}
}
}

${DOMAIN}:${HTTPS_PORT} {
tls ${TLS}
timeouts none
proxy ${WSPATH} localhost:${V2_PORT} {
websocket
header_upstream -Origin
}
forwardproxy {
basicauth ${BASICAUTH}
hide_ip
hide_via
dial_timeout ${DIAL_TIMEOUT}
${PROBE_RESISTANCE}
}
redir 301 {
if {path} not ${WSPATH}
/ {scheme}://${FAILOVER}{uri}
}
}
